body {
    background: url(../images/christmas-dark.png);
}


.game-section {
    display: grid;
    grid-template-columns: auto 50%;
    grid-template-rows: auto 20% auto;
    grid-template-areas:
        'header header'
        'tree game'
        'tree stats';
    gap: 20px;
}

.game-section>div {
    text-align: center;
    padding: 10px;
    margin: 20px;
    align-items: center;
}

.header-banner {
    grid-area: header;
    text-align: center;
    /* height: 100px; */
    /* width: 50%; */
    font-family: 'Courgette', cursive;
    font-size: 80px;
    color: goldenrod;
}


.tree {
    position: relative;
    grid-area: tree;
    background: url(../images/christmasTree.png) no-repeat;
    background-position: center;
    /* Following line makes the tree fit inside the div */
    background-size: contain;
    /* width: 300px; */
    height: 600px;
}

#under-tree {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 100px;
    bottom: 30px;
}

.present {
    width: 50px;
    height: 50px;
    bottom: 0;
    padding: 2px;
    margin: 2px;
    background: url(../images/presentRed.png) no-repeat;
    background-size: contain;
    float: left;
    /* visibility: hidden; */
}

.game-board {
    grid-area: game;
    border: ridge red;
    text-align: center;
    background-color: lightgrey;
}

#word {
    padding-top: 30px;
    font-size: 30px;
    color: darkblue;
}

/* .ornament {
    background: url(../images/ornament.png) no-repeat;
    background-size: contain;
    background-position: center;
    border-style: solid;
    padding: 15px;
    display: inline-block;
    width: 50px;
    height: 50px;
} */


.game-stats {
    grid-area: stats;
    border: ridge red;
    background-color: lightgray;
}

.directions,
.wins,
.guesses,
.letters-guessed {
    font-family: 'Courgette', cursive;
    text-align: left;
    color: darkblue;
    font-size: 25px;
}

.glow {
    font-size: 80px;
    color: #fff;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #ff0000, 0 0 40px #ff0000, 0 0 50px #ff0000, 0 0 60px #ff0000, 0 0 70px #ff0000;
    }

    to {
        text-shadow: 0 0 20px #fff, 0 0 30px #da2828, 0 0 40px #da2828, 0 0 50px #da2828, 0 0 60px #da2828, 0 0 70px #da2828, 0 0 80px #da2828;
    }
}