body {
    background: url(../images/nice_snow.png);

}

.header-banner {
    grid-area: header;
    text-align: center;
    /* height: 100px; */
    /* width: 50%; */
    font-family: 'Courgette', cursive;
    font-size: 50px;
    color: rgba(142, 207, 43, 0.781);
    border: rgba(142, 207, 43, 0.781) dotted;

}

.game-section {
    display: grid;
    grid-template-areas:
        'header header header'
        'tree empty game'
        'tree empty stats';
    /* grid-template-columns: auto auto auto; */
    gap: 20px;
}

.tree {
    grid-area: tree;
    background: url(../images/Tree.png) no-repeat;
    background-position: center;
    background-size: contain;
    width: 300px;
    height: 600px;


}

.present {
    width: 60px;
    height: 60px;
    padding: 2px;
    float: left;
    margin: 2px;
    background-image: url(../images/present.png);
}

.game-board {
    grid-area: game;
    border: rgba(142, 207, 43, 0.781) dotted;
}

.game-stats {
    grid-area: stats;
    color: rgba(142, 207, 43, 0.781);
    border: rgba(142, 207, 43, 0.781) dotted;

}